html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 300px;
  min-height: 450px;
  text-align: center;
  display: flex;
  flex-flow: column;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#pixel_canvas,
.cell_canvas {
    border-collapse: collapse;
    border: 1px dotted lightgray;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}
<<<<<<< HEAD

=======
 
>>>>>>> ac8a876e8e6012bc6d14305f3be55c94f080c08e
input[type=number] {
    width: 3em;
}

#div_canvas {
  flex: 1 1 auto;
  background-color: white;
  margin: 0;
  border: 0;
  padding: 0;
}

#title {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.1em;

}

.char_div {
  display: inline-block;
  min-width: 15px;
  position: absolute;
  left: 10px;
  top: 0;
}

.flex_div {
  flex: 0 1 auto;
  min-height: 100px;
}
