html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
}

div {
  flex: 0 1 auto;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid lightgray;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

tr {
    height: 21px;
}

td {
    width: 20px;
    padding: 0;
    background-color: white;
}

input[type=number] {
    width: 3em;
}

#div_canvas {
  flex: 1 1 auto;
  background-color: white;
  margin: 0;
  border: 0;
  padding: 0;
}
